* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: #000;
    color: white;
    font-family: "Montserrat", sans-serif;
}


img {
    max-width: 100%;
    display: block;
}


button {
    cursor: pointer;
    font-family: inherit;
}


/* CONTAINER */

.container {

    max-width: 1248px;
    margin: 0 auto;

}





/* HEADER */


header {

    padding: 20px 0;

}


.header-container {

    display: flex;
    justify-content: space-between;
    align-items: center;

}



.logo {

    width: 120px;

}



nav ul {

    display: flex;
    list-style: none;
    gap: 70px;

}



nav a {

    color: white;
    text-decoration: none;
    font-size: 16px;

}



.nav-socials {

    display: flex;
    gap: 15px;

}



.nav-socials img {

    width: 25px;
    height: 25px;

}







/* HERO */


.hero {

    padding: 80px 0;

}



.hero-container {

    display: flex;
    justify-content: space-between;
    align-items: center;

}



.hero-content {

    max-width: 580px;

}



.hero-subtitle {

    opacity: .8;
    margin-bottom: 20px;
    font-size: 15px;

}



.hero h1 {

    font-size: 68px;
    line-height: 1.1;
    font-weight: 500;
    margin-bottom: 25px;

}



.hero h1 span {

    color: #ce316a;

}



.hero-text {

    opacity: .5;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;

}



.hero button {

    background: #ce316a;
    color: white;
    border: none;
    padding: 14px 35px;
    border-radius: 5px;
    font-size: 16px;

}



.hero button:hover {

    background: #b12555;

}



.hero-image img {

    width: 443px;

}







/* ABOUT */


.about {

    padding: 120px 0;
    text-align: center;

}



.about h2 {

    font-size: 40px;
    margin-bottom: 25px;

}



.about p {

    color: #cfcfcf;
    font-size: 25px;
    line-height: 1.5;

}







/* PRODUCTS */


.products {

    padding: 80px 0;

}



.products h2 {

    font-size: 40px;
    margin-bottom: 40px;

}



.products-list {

    display: flex;
    gap: 20px;

}



.product {

    width: 297px;
    background: #151515;
    border-radius: 15px;
    overflow: hidden;
    padding-bottom: 20px;

}



.product img {

    width: 100%;
    height: 250px;
    object-fit: cover;

}



.product h3 {

    padding: 15px;
    font-size: 22px;

}



.product p {

    padding: 0 15px;
    color: #bbb;
    line-height: 1.5;

}



.price {

    display: block;
    padding: 15px;
    color: #ff2c78;
    font-size: 22px;

}



.product button {

    margin-left: 15px;
    padding: 10px 25px;
    background: #ff2c78;
    color: white;
    border: none;
    border-radius: 8px;

}








/* PROCESS */


.process {

    padding: 100px 0;

}



.process-container {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;

}



.process h2 {

    font-size: 54px;
    line-height: 1.1;
    font-weight: 500;
    margin-bottom: 25px;

}



.process h2 span {

    color: #ce316a;

}



.process-text {

    opacity: .5;
    line-height: 1.5;
    max-width: 480px;
    margin-bottom: 45px;

}



.process-steps {

    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 40px;

}



.step-item {

    display: flex;
    align-items: center;
    gap: 20px;

}



.step-number {

    width: 46px;
    height: 46px;

    border: 1px solid rgba(255,255,255,.3);

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

}



.step-title {

    opacity: .7;

}



.process-apps {

    display: flex;
    gap: 15px;

}



.app-btn img {

    height: 45px;

}



.process-image {

    display: flex;
    justify-content: center;

}



.process-image img {

    width: 500px;
    height: 600px;
    object-fit: contain;

}








/* CONTACT */


.contact {

    padding: 80px 0;
    text-align: center;

}



.contact h2 {

    font-size: 45px;
    margin-bottom: 15px;

}



.contact form {

    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    margin: 30px auto 0;

}



.contact input,
.contact textarea {

    padding: 15px;
    background: #222;
    border: none;
    border-radius: 8px;
    color: white;

}



.contact textarea {

    height: 150px;
    resize: none;

}



.contact button {

    padding: 15px;
    background: #ff2c78;
    color: white;
    border: none;
    border-radius: 8px;

}








/* FOOTER */


footer {

    background: #111;
    padding: 60px 0;

}



.footer-container {

    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;

}



.footer-box h4 {

    margin-bottom: 15px;

}



.footer-box p {

    color: #bbb;
    margin-bottom: 10px;

}



.socials {

    display:flex;
    gap:10px;
    margin-top:15px;

}



.socials img {

    width:25px;

}



.copy {

    grid-column: 1/-1;
    text-align:center;
    margin-top:30px;
    color:#777;

}

