*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#000;
    color:white;
    font-family:Arial,sans-serif;
}

img{
    max-width:100%;
    display:block;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
}

.logo{
    width:120px;
}

nav{
    display:flex;
    align-items:center;
    gap:50px;
}

nav ul{
    display:flex;
    list-style:none;
    gap:35px;
}

nav a{
    color:white;
    text-decoration:none;
}

.nav-socials{
    display:flex;
    gap:10px;
}

.nav-socials img{
    width:25px;
    height:25px;
}

.hero{
    max-width:1200px;
    margin:70px auto 120px;
    padding:0 40px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:80px;
}

.hero-content{
    max-width:520px;
}

.hero-subtitle{
    color:#9b9b9b;
    font-size:14px;
    margin-bottom:15px;
}

.hero h1{
    font-size:64px;
    line-height:1;
    margin-bottom:25px;
}

.hero-text{
    color:#bdbdbd;
    line-height:1.7;
    margin-bottom:30px;
}

.hero button{
    padding:14px 35px;
    background:#ff2c78;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

.hero-image img{
    width:500px;
    border-radius:20px;
    transform:rotate(-10deg);
    filter:drop-shadow(0 0 30px rgba(255,255,255,0.15));
}

.about{
    max-width:900px;
    margin:120px auto;
    text-align:center;
}

.about h2{
    font-size:40px;
    margin-bottom:20px;
}

.about p{
    font-size:20px;
    color:#cfcfcf;
    margin-bottom:15px;
}

.facts{
    max-width:900px;
    margin:100px auto;
    text-align:center;
}

.facts h2{
    margin-bottom:30px;
    font-size:40px;
}

.facts p{
    margin:15px 0;
    font-size:20px;
}

.products{
    max-width:1300px;
    margin:100px auto;
    padding:0 40px;
}

.products h2{
    margin-bottom:40px;
    font-size:40px;
}

.products{
    display:flex;
    flex-wrap:wrap;
    gap:25px;
    justify-content:center;
}

.products h2{
    width:100%;
}

.product{
    width:300px;
    background:#151515;
    border-radius:15px;
    overflow:hidden;
    padding-bottom:20px;
}

.product img{
    height:250px;
    width:100%;
    object-fit:cover;
}

.product h3{
    padding:15px;
}

.product p{
    padding:0 15px;
    color:#bbb;
}

.price{
    display:block;
    padding:15px;
    color:#ff2c78;
    font-size:22px;
}

.product button{
    margin-left:15px;
    padding:10px 25px;
    border:none;
    border-radius:8px;
    background:#ff2c78;
    color:white;
}

.process{
    max-width:1200px;
    margin:120px auto;
    padding:0 40px;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:60px;
}

.process h2{
    grid-column:1/-1;
    font-size:40px;
}

.step{
    background:#151515;
    padding:25px;
    border-radius:15px;
    margin-bottom:20px;
}

.contact{
    max-width:900px;
    margin:120px auto;
    text-align:center;
    padding:80px 40px;
    background:#111;
    border-radius:20px;
}

.contact h2{
    font-size:45px;
    margin-bottom:15px;
}

.contact form{
    display:flex;
    flex-direction:column;
    gap:15px;
    margin-top:30px;
}

.contact input,
.contact textarea{
    padding:15px;
    border:none;
    border-radius:8px;
    background:#222;
    color:white;
}

.contact button{
    padding:15px;
    border:none;
    background:#ff2c78;
    color:white;
    border-radius:8px;
}

footer{
    margin-top:100px;
    padding:60px 80px;
    background:#111;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:40px;
}

.footer-box h4{
    margin-bottom:15px;
}

.footer-box p{
    margin-bottom:10px;
    color:#bbb;
}

.socials{
    display:flex;
    gap:10px;
    margin-top:15px;
}

.socials img{
    width:25px;
}

.copy{
    grid-column:1/-1;
    text-align:center;
    margin-top:30px;
    color:#777;
}